<div id="omnichat__wrapper">
    <div id="omnichat__header">
        <div id="omnichat__status" class="online"></div>
        <div id="omnichat_header_text">Мы Онлайн!</div>
        <div class="close-cont">
            <div>✕</div>
        </div>
    </div>
    <div id="omnichat__chat">
        <div id="omnichat__messages"></div>
        <div id="omnichat__info"></div>
        <div id="omnichat__footer">
            <div class="footer-inner">
                <div class="footer-row">
                    <div class="message">
                        <textarea id="omnichat__message" placeholder="Сообщение..." spellcheck="true"></textarea>
                    </div>
                    <div class="attach">
                        <div id="upload-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                                <path fill="none" fill-rule="evenodd" stroke="#212126"
                                    d="M11.312 6.213l-6.103 6.486c-1.612 1.726-1.612 4.498 0 6.224 1.61 1.728 4.198 1.728 5.808 0l8.78-8.751c.977-1.046 1.344-2.36.578-3.61C20.007 5.963 18.937 5 17.656 5a3.39 3.39 0 0 0-2.593 1.213s-4.938 5.287-5.36 5.756c-.422.469-.656 1.172-.515 1.656.14.484.812.969 1.28.969.47 0 1.313-.313 1.648-.64l3.759-4.028"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>