#omnichat { position:fixed;z-index:99999;background:#fff; transition: height 1s; margin: 0; overflow: hidden; min-width: 300px; font-size: .82rem; font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; }
#omnichat__header {height:15px;padding:15px;font-family: Arial; font-size: 16px; color: #fff;border-radius:6px 6px 0 0;background: #2196f3;}
#omnichat__status {float:left;margin:3px 7px 0 0;width:10px;height:10px;border-radius:50%;}
#omnichat__status.online {background:#00E676}
#omnichat__header .close-cont { position:absolute;top:0;right:0}
#omnichat .close-cont div{padding:15px;cursor:pointer;color:#fff}
#omnichat .hidden { display: none; }

#omnichat__chat { min-height: 350px; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-radius:0 0 6px 6px; border: solid 1px #ccc; border-top: 0; }

#omnichat__messages { flex-grow: 1; overflow-y: auto; padding: 2px 4px; }
#omnichat__messages .message {display:-ms-flexbox;display:flex;-ms-flex-negative:0;flex-shrink:0;margin-bottom: 1rem;}
#omnichat__messages .message.left{margin-right:auto}
#omnichat__messages .message.right{-ms-flex-direction:row-reverse;flex-direction:row-reverse;margin-left:auto}
#omnichat__messages .content { padding: 0.5rem 1rem; width: 100%; border-radius: .25rem; background: rgba(24,28,33,0.03); }
#omnichat__messages .message.left .content { margin-left: 1rem; }
#omnichat__messages .message.right .content { margin-right: 1rem; text-align: right; }
#omnichat__messages .avatar { width: 40px; border-radius: 50%; background-color: #ccc; text-align: center;line-height: 40px; font-size:1rem; min-height: 40px;}
#omnichat__messages .time { margin-top: .5rem; text-align: center; font-size: 85%; color: #a3a4a6; }
#omnichat__messages .content .name { margin-bottom: .25rem; font-weight: 600; }
#omnichat__info { margin: 0 5px; font-size: 11px; color: #999; text-align: center; padding: 5px; border-radius: 5px; }
#omnichat__info.warning { background: #f3bd00; color: #fff; }
#omnichat__info.error { background: #f30e00; color: #fff; }
#omnichat__footer { height: 40px; border: solid 1px #cccccc; margin: 1px 5px 5px; border-radius: 5px; padding: 5px; }
#omnichat__footer .footer-inner { display: table; width: 100%; }
#omnichat__footer .footer-row { display: table-row; }
#omnichat__footer .attach { display: table-cell; vertical-align: middle; width: 30px; padding-top: 5px; text-align: center; }
#omnichat__footer .attach #upload-icon { cursor: pointer; }
#omnichat__footer .message { display: table-cell; vertical-align: middle; }
#omnichat__footer .message textarea { vertical-align: middle; border: 0; width: 90%; resize: none; min-height: 25px; max-height: 75px; height: 25px; line-height: 1.5; font-size: 14px; padding: 0.7em 0.5em; color: #666; }
#omnichat__footer .message textarea:focus, #omnichat__footer .message input:focus{outline: 0;}

#omnichat_label{position:fixed;z-index:999999;height:40px;cursor:pointer;width:300px;border-radius:3px 3px 0 0;box-shadow:0 12px 25px 8px rgba(0,0,0,.17)}
#omnichat_label div{ float:left;}
#omnichat_label .text{font-style:normal;font-weight:normal;font-family:Arial;font-size:14px;padding:0 35px 0 15px;line-height:40px;}