#omnisurvey{position:fixed;font-family:sans-serif;font-size:16px;z-index:99999;bottom:0;right:50%;transform:translate(50%,0)}
#omnisurvey .wrapper{color:#333;overflow:hidden;box-sizing:border-box;border-top-left-radius:3px;border-top-right-radius:3px;box-shadow:rgba(0,0,0,.25) 0 0 5px}
#omnisurvey .close-cont{position:absolute;top:0;right:0}
#omnisurvey .close-cont .close-btn{padding:20px;cursor:pointer;color:#848484}
#omnisurvey .main-cont{margin:auto;padding:20px}
#omnisurvey .rates-cont{display:flex;flex-wrap:nowrap;margin-left:-2px;margin-right:-2px}
#omnisurvey .rate-box{padding:0 2px;flex:1 1 0%}
#omnisurvey .rate-box .rate-el{border-radius:3px;box-sizing:border-box;height:40px;text-align:center;line-height:40px;cursor:pointer}
#omnisurvey .text-cont{margin-bottom:8px}
#omnisurvey .text-cont div{line-height:1.6;font-size:14px}
#omnisurvey textarea{width:100%;outline:0;color:#333;font-size:14px;border-radius:3px;border:1px solid #dbdbdb;background-color:#fdfdfd;box-shadow:rgba(10,10,10,.1) 0 1px 2px inset;padding:8px;margin-bottom:10px;min-height:70px;resize:vertical;box-sizing:border-box;line-height:normal;white-space:nowrap;vertical-align:baseline}
#omnisurvey .feedback-btn-cont{display:flex;flex-direction:row-reverse}
#omnisurvey .feedback-btn-cont button{display:inline-block;font-size:14px;padding:8px 14px;cursor:pointer;min-width:100px;text-align:center}
#omnisurvey .bottom-cont{display:flex;flex-wrap:nowrap;justify-content:space-between;font-style:italic;font-size:12px;margin-top:8px}
#omnisurvey .height-cont{max-height:100vh}
#omnisurvey .copyright{padding:20px;font-size:12px;text-align:right;margin:auto}